---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <section>
    <h1>
      You expected some surprise, but I figure I can't really surprise you.
    </h1>
    <p>
      You already know it. I simply love you sooooooo much that I can't put it
      into words. Thank you for existing, and thank you for being mine. I LOVE YOU &hearts;
    </p>
  </section>
</Layout>

<style>
  section {
    width: 100%;
    gap: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    h1,
    p {
      text-align: center;
      max-width: 800px;
    }
    h1 {
      font-size: 5rem;
    }
    p {
      font-size: 2.5rem;
      margin-top: 3rem;
    }
  }
</style>
