---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <section>
    <ul>
      <li>
        I hope you know CPR because you just took my breath away
      </li>
      <li>
        If being sexy was a crime, you'd be guilty as charged
      </li>
      <li>
        Are you a camera? Cuz all I can do is smile when I see you...
      </li>
    </ul>
    <iframe
      width="1536"
      height="535"
      src="https://www.youtube.com/embed/izGwDsrQ1eQ"
      title="George Michael - Careless Whisper (Official Video)"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      referrerpolicy="strict-origin-when-cross-origin"
      allowfullscreen></iframe>
  </section>
</Layout>

<style>
  section {
    width: 100%;
    gap: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 3rem;
    h1,
    p {
      text-align: center;
      max-width: 800px;
    }
    h1 {
      font-size: 5rem;
    }
    p {
      font-size: 2.5rem;
      margin-top: 3rem;
    }
    iframe {
      width: 69%;
    }
    ul {
      li {
        font-size: 2.5rem;
      }
    }
  }
</style>
