---

---

<section id="hero">
  <h1>Dear Anna Kim,</h1>
  <h2>will you be my valentine?</h2>

  <div id="options">
    <button id="yes-btn">Yes &hearts;</button>
    <button id="no-btn">No</button>
  </div>
</section>

<section id="section-2">
  <h1>Good choice! 💖</h1>
  <p>
    I wanted to express just how much I love and appreaciate you! Without you,
    my life woudln't be so bright and joyful. Thank you!
  </p>

  <div class="item">
    <div class="polaroid">
      <img src="../assets/images/photo1.jpg" />
      <div class="caption">This is us</div>
    </div>
  </div>

  <div class="item">
    <div class="polaroid">
      <img src="../assets/images/photo2.jpg" />
      <div class="caption">Also us, but drinking some juice</div>
    </div>
  </div>
</section>

<section id="section-3">
  <p>
    To be honest, I didn't know what to include here. There were infinite
    possibilities to make this a special gift. I hope it is one.
  </p>

  <div class="item">
    <div class="polaroid">
      <img src="../assets/images/photo3.jpg" />
      <div class="caption">This is me</div>
    </div>
  </div>

  <div class="item">
    <div class="polaroid">
      <img src="../assets/images/photo4.jpg" />
      <div class="caption">And this is you</div>
    </div>
  </div>
</section>

<style>
  .item {
    position: absolute;
    width: 350px;
    height: auto;
    display: inline-block;
    margin-top: 2rem;
    filter: grayscale(100%);
    &:hover {
      filter: none;
      transform: scale(1, 1) rotate(0deg) !important;
      transition: all 0.35s;
      .polaroid:before {
        content: "";
        position: absolute;
        z-index: -1;
        transform: rotate(0deg);
        height: 90%;
        width: 90%;
        bottom: 0%;
        right: 5%;
        box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.2);
        transition: all 0.35s;
      }
    }
    .polaroid {
      background: #fff;
      padding: 1rem;
      padding-bottom: 0;
      box-shadow: 0 0.2rem 1.2rem rgba(0, 0, 0, 0.2);
      &:before {
        content: "";
        position: absolute;
        z-index: -1;
        transition: all 0.35s;
      }
      & > img {
        max-width: 100%;
        height: auto;
      }
      .caption {
        font-size: 1.8rem;
        text-align: center;
        line-height: 2em;
        color: black;
      }
    }
  }
  section {
    position: relative;
    width: 100%;
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    h1,
    p {
      text-align: center;
    }
    p {
      max-width: 500px;
      font-size: 2.5rem;
    }
  }
  #hero {
    padding: 5rem;
    display: block;
    #options {
      position: relative;
      height: 200px;
      width: 100%;
      button {
        height: 75px;
        width: 150px;
        border: none;
        background-color: white;
        font-size: 2rem;
        font-weight: 600;
        border-radius: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        transition: all 0.3s ease-in-out;
        top: 50%;
        transform: translateY(-50%);
        border: 3px solid rgb(70, 4, 4);
        &:nth-child(1) {
          left: 37%;
          z-index: 5;
          color: rgb(247, 19, 19);
          &:hover {
            background-color: rgb(90, 49, 76);
            color: white;
          }
        }
        &:nth-child(2) {
          right: 37%;
          transition: all 0.1s ease-in-out;
        }
      }
    }
  }
  #section-2 {
    .item {
      &:nth-of-type(4n + 1) {
        top: 6%;
        left: 3%;
        transform: scale(0.8, 0.8) rotate(5deg);
        transition: all 0.35s;
        .polaroid:before {
          transform: rotate(6deg);
          height: 20%;
          width: 47%;
          bottom: 30px;
          right: 12px;
          box-shadow: 0 2.1rem 2rem rgba(0, 0, 0, 0.4);
        }
      }
      &:nth-of-type(4n + 2) {
        top: 20%;
        right: 5%;
        transform: scale(0.8, 0.8) rotate(-5deg);
        transition: all 0.35s;
        .polaroid:before {
          transform: rotate(-6deg);
          height: 20%;
          width: 47%;
          bottom: 30px;
          left: 12px;
          box-shadow: 0 2.1rem 2rem rgba(0, 0, 0, 0.4);
        }
      }
    }
  }
  #section-3 {
    .item {
      &:nth-of-type(4n + 1) {
        top: 8%;
        left: 4%;
        transform: scale(0.8, 0.8) rotate(-3deg);
        transition: all 0.35s;
        .polaroid:before {
          transform: rotate(-4deg);
          height: 20%;
          width: 47%;
          bottom: 30px;
          left: 12px;
          box-shadow: 0 2.1rem 2rem rgba(0, 0, 0, 0.3);
        }
      }
      &:nth-of-type(4n + 2) {
        top: 13%;
        right: 7%;
        transform: scale(0.8, 0.8) rotate(3deg);
        transition: all 0.35s;
        .polaroid:before {
          transform: rotate(4deg);
          height: 20%;
          width: 47%;
          bottom: 30px;
          right: 12px;
          box-shadow: 0 2.1rem 2rem rgba(0, 0, 0, 0.3);
        }
      }
    }
  }
  h1 {
    font-size: 6rem;
    font-weight: 600;
  }
  h2 {
    font-size: 3rem;
    font-weight: 400;
    text-align: center;
  }
</style>

<script>
  const buttonHeight = 50;
  const buttonWidth = 150;
  const buttonsContainer = document.getElementById("options")!;
  const maxHeight = buttonsContainer.offsetHeight - buttonHeight;
  const maxWidth = window.innerWidth / 2;

  window.addEventListener("DOMContentLoaded", () => {
    const button = document.getElementById("no-btn")!;

    button.addEventListener("mouseover", () => {
      let newLeft, newTop;

      do {
        newLeft = Math.floor(Math.random() * (maxWidth + 1));
      } while (Math.abs(newLeft - button.offsetLeft) < buttonWidth * 2);

      do {
        newTop = Math.floor(Math.random() * (maxHeight + 1));
      } while (Math.abs(newTop - button.offsetTop) < buttonHeight * 2);

      button.style.left = `${newLeft}px`;
      button.style.top = `${newTop}px`;
    });
  });

  const yesBtn = document.getElementById("yes-btn")!;
  const nextSection = document.getElementById("section-2")!;

  yesBtn.addEventListener("click", () => {
    document.body.style.overflowY = "scroll";
    nextSection.scrollIntoView({ behavior: "smooth" });
  });
</script>
