---

---

<section id="hero">
  <h1>Dear Anna Kim,</h1>
  <h2>will you be my valentine?</h2>

  <div id="options">
    <button id="yes-btn">Yes &hearts;</button>
    <button id="no-btn">No</button>
  </div>
</section>

<section id="next-section">
  <h1>Yay! 💖</h1>
</section>

<style>
  #hero {
    height: 100dvh;
    padding: 5rem;
  }
  #next-section {
    display: flex;
    justify-content: center;
    align-items: center;
    transition:
      opacity 0.6s ease-in-out,
      height 0.6s ease-in-out;
    height: 100dvh;
  }
  h1 {
    font-size: 6rem;
    font-weight: 600;
  }
  h2 {
    font-size: 3rem;
    font-weight: 400;
    text-align: center;
  }
  #options {
    position: relative;
    height: 200px;
    width: 100%;
    button {
      height: 75px;
      width: 150px;
      border: none;
      background-color: white;
      font-size: 2rem;
      font-weight: 600;
      border-radius: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      transition: all 0.3s ease-in-out;
      top: 50%;
      transform: translateY(-50%);
      border: 3px solid rgb(70, 4, 4);
      &:nth-child(1) {
        left: 12%;
        z-index: 5;
        color: rgb(247, 19, 19);
        &:hover {
          background-color: rgb(90, 49, 76);
          color: white;
        }
      }
      &:nth-child(2) {
        right: 12%;
        transition: all 0.1s ease-in-out;
      }
    }
  }
</style>

<script>
  const buttonHeight = 50;
  const buttonWidth = 150;
  const buttonsContainer = document.getElementById("options")!;
  const maxHeight = buttonsContainer.offsetHeight - buttonHeight;
  const maxWidth = window.innerWidth / 2;

  window.addEventListener("DOMContentLoaded", () => {
    const button = document.getElementById("no-btn")!;

    button.addEventListener("mouseover", () => {
      let newLeft, newTop;

      do {
        newLeft = Math.floor(Math.random() * (maxWidth + 1));
      } while (Math.abs(newLeft - button.offsetLeft) < buttonWidth * 2);

      do {
        newTop = Math.floor(Math.random() * (maxHeight + 1));
      } while (Math.abs(newTop - button.offsetTop) < buttonHeight * 2);

      button.style.left = `${newLeft}px`;
      button.style.top = `${newTop}px`;
    });
  });

  const yesBtn = document.getElementById("yes-btn")!;
  const nextSection = document.getElementById("next-section")!;

  yesBtn.addEventListener("click", () => {
    // document.body.style.overflowY = "auto";
    requestAnimationFrame(() => {
      nextSection.scrollIntoView({ behavior: "smooth" });
    });
  });
</script>
