---

---

<section id="hero">
	<h1>Dear Anna Kim,</h1>
	<h2>will you be my valentine?</h2>
</section>

<style>
	h1 {
		font-size: 6rem;
		font-weight: 600;
	}
	h2 {
		font-size: 3rem;
		font-weight: 400;
		text-align: center;
	}
</style>
